<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Component Example</title>

</head>

<body>

  <!--演示区域-->
  <div id="demo">
    <detail :config="config" :value="value"></detail>
  </div>

  <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="../../../dist/detail.js"></script>
  <script type="text/javascript">

    // Bootstrap the app
    new Vue({
      el: '#demo',
      components: {
        detail: detail
      },
      data: {
        config: {
          title: "demo详情",
          idField: "id",
          source: {
            apiUrl: "/api/getDetail",
            method: "get", // get/post default:get
            params: [
              {
                name: "id",
                value: "dx: {{$item.id}}"
              }
            ],
            resField: "data"
          },
          detail: {
            // label: "",
            value: "dx: {{$data}}",
            properties: [
              // label
              {
                label: "水果名称", // 标签
                value: "dx: {{$data.username}}", // 或填写字段名或dx表达式，比如 "dx: {{$data.firstname}} + ' ' + {{$data.lastname}}"
                columns: 6, // 所占的列数
                widget: "label", // 使用的widget，默认是label，即只显示只读文本
                widgetConfig: {}
              },

              // 对象内含label， widget: object
              {
                label: "属性", // 标签
                value: "dx: {{$data.attribute}}",
                properties: [
                  {
                    label: "颜色",
                    value: "dx: {{$object.color}}",
                    columns: 6
                  },
                  {
                    label: "重量",
                    value: "dx: {{$object.weight}}",
                    columns: 6
                  }
                ],
                widget: "object", // 使用的widget，默认是object
                widgetConfig: {
                  // 针对自身的
                  titleColor: "red",
                  showOwnLabel: false,
                  showTitle: true,
                  // 针对子元素的
                  labelWidth: "",
                  labelColor: "green"
                }
              },

              //对象套对象, widget: object
              {
                label: "对象套对象",
                value: "dx: {{$data.obj}}",
                properties: [
                  {
                    label: "",
                    value: "dx: {{$object.a}}",
                    properties: [
                      {
                        label: "a.a",
                        value: "dx: {{$object.a}}"
                      },
                      {
                        label: "a.b",
                        value: "dx: {{$object.b}}"
                      }
                    ]
                  },
                  {
                    label: "",
                    value: "dx: {{$object.b}}",
                    properties: [
                      {
                        label: "b.a",
                        value: "dx: {{$object.a}}"
                      },
                      {
                        label: "b.b",
                        value: "dx: {{$object.b}}"
                      }
                    ]
                  }
                ],
                widgetConfig: {
                  showOwnLabel: false
                }
              },

              // 数组包含对象 widget: array
              {
                label: "对象数组", // 标签
                value: "dx: {{$data.attributes}}",
                items: {
                  label: "属性", // 标签
                  value: "dx: {{$item}}",
                  properties: [
                    {
                      label: "颜色",
                      value: "dx: {{$object.color}}"
                    },
                    {
                      label: "重量",
                      value: "dx: {{$object.weight}}"
                    }
                  ],
                  widgetConfig: {
                    showTitle: false
                  }
                },
                widget: "array", // array | table | tabs
                widgetConfig: {}
              },

              // 数组包含对象 widget: table
              {
                label: "对象数组", // 标签
                value: "dx: {{$data.attributes}}",
                items: {
                  label: "属性", // 标签
                  value: "dx: {{$item}}",
                  properties: [
                    {
                      label: "颜色",
                      value: "dx: {{$object.color}}"
                    },
                    {
                      label: "重量",
                      value: "dx: {{$object.weight}}"
                    }
                  ]
                },
                widget: "table", // array | table | tabs
                widgetConfig: {}
              },

              // 数组包含对象 widget: tabs
              {
                label: "对象数组", // 标签
                value: "dx: {{$data.attributes}}",
                items: {
                  label: "类别", // 标签
                  value: "dx: {{$item}}",
                  properties: [
                    {
                      label: "颜色",
                      value: "dx: {{$object.color}}"
                    },
                    {
                      label: "重量",
                      value: "dx: {{$object.weight}}"
                    },
                  ],
                  widget: "object",
                  widgetConfig: {
                    showTitle: false,
                  }
                },
                widget: "tabs", // array | table | tabs
                widgetConfig: {
                }
              },

              // 数组内为label widget: array
              {
                label: "数组", // 标签
                value: "dx: {{$data.tag}}",
                items: {
                  label: "",
                  value: "dx: {{$item}}",
                  columns: 1
                },
                widget: "array", // array | table | tabs
                widgetConfig: {}
              },

            ],
            // widget: "object",
            // widgetConfig: {}
          },
          buttons: {
            back: {
              enable: true
            }
          }
        },
        value: { id: 100 }
      }
    });
  </script>
</body>

</html>