<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component Example</title>
</head>
<body>

  <!--演示区域-->
  <div id="demo">
    <edit :config="config" :value="value"></edit>
  </div>

  <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

  <script type="text/javascript" src="../../../node_modules/ncform-common/dist/ncformCommon.min.js"></script>
  <script type="text/javascript" src="../../../node_modules/ncform/dist/vueNcform.min.js"></script>

  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="../../../node_modules/ncform-theme-elementui/dist/ncformStdComps.min.js"></script>

  <script>
    Vue.use(vueNcform, { extComponents: ncformStdComps.default });
  </script>

  <script type="text/javascript" src="../../../dist/edit.js"></script>
  <script type="text/javascript">
    // Bootstrap the app
    new Vue({
      el: '#demo',
      components: {
        edit: edit
      },
      data: {
        config: {
          title: "商品", // 标题，editMode不同，显示也不同。比如这里写“商品”，编辑模式下显示为编辑商品，新建模式下显示新建商品
          idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
          formData: {
            // 当编辑模式时取表单数据用
            apiUrl: "/api/getInfo", // 取表单数据的Url
            resField: "data",
            params: [
              {
                name: "id",
                value: "dx: {{$id}}"
              }
            ]
          },
          formSchema: {
            type: "object",
            properties: {
              name: {
                type: "string"
              }
            }
          },
          buttons: {
            submit: {
              // 提交
              apiUrl: "/api/saveItem", // 提交的Url
              valueField: "" // 当为空时，即表单的每个一级字段即为参数名
            },
            back: {
              // 返回
              enable: true
            }
          }
        },
        value: {
          id: 1
        }
      }
    });
  </script>
</body>
</html>
