<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Component Example</title>

  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>

  <style type="text/css">
    .demo {
      height: 350px;
      overflow-y: auto;
    }
  </style>

  <!--演示区域-->
  <div id="demo">
    <!-- <div id="demo" class="demo"> -->
    <!-- <div id="demo" style="height: 350px; overflow-y: auto"> -->
    <list :config="config" v-model="valueData" @item-edit="listEventHandler"></list>

    <button @click="notifyRefresh">外部通知列表刷新</button>
  </div>

  <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform-common/dist/ncformCommon.min.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform/dist/vueNcform.min.js"></script>

  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform-theme-elementui/dist/ncformStdComps.min.js"></script>

  <script>
    Vue.use(vueNcform, { extComponents: ncformStdComps });
  </script>

  <script type="text/javascript" src="../../../dist/list.js"></script>
  <script type="text/javascript" src="../../../dist/editModalInside.js"></script>
  <script type="text/javascript" src="../../../dist/label.js"></script>
  <script type="text/javascript" src="../../../dist/image.js"></script>
  <script type="text/javascript">
    Vue.component('nca-label', label);
    Vue.component('nca-image', image);
    Vue.component('nca-edit-modal-inside', editModalInside);

    // eventHub 的具体实现，因为这里没法直接引入utils/event-hub.js
    if (!window.ncadmin_eventHub)
      window.ncadmin_eventHub = new Vue();

    // Bootstrap the app
    new Vue({
      el: '#demo',
      components: {
        list: list,
      },
      methods: {
        listEventHandler(data) {
          console.log(data);
        },
        notifyRefresh() {
          window.ncadmin_eventHub.$emit('notifyRefresh', { refreshType: 'resetAll', query: { a: 'b' } }); // 'resetPage' 'resetAll'
        }
      },
      data: {
        valueData: {
          pageNum: 1,
          pageSize: 2,
          query: {}
        },
        config: {

          // 事件
          listenEvents: {
            notifyRefresh: 'notifyRefresh', // event data: current-当前页码和查询条件刷新 resetPage-重置查询页码进行刷新 resetAll-重置查询条件和页码进行刷新
          },

          // 查询条件
          query: {
            normal: {
              // 普通搜索
              // ncform的配置
              type: "object",
              properties: {
                kw1: {
                  type: "string",
                  default: 'hello',
                  ui: {
                    label: "查询条件一",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw2: {
                  type: "string",
                  ui: {
                    label: "查询条件二",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw3: {
                  type: "string",
                  ui: {
                    label: "查询条件三",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw4: {
                  type: "string",
                  ui: {
                    label: "查询条件四",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw5: {
                  type: "boolean",
                  default: true,
                  ui: {
                    label: "查询条件五",
                    columns: 3,
                    widget: 'radio'
                  }
                },
              },
              ui: {
                widgetConfig: {
                  layout: 'h'
                }
              }
            },
            adv: {
              type: "object",
              properties: {
                kw6: {
                  type: "string",
                  ui: {
                    label: "查询条件六",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw7: {
                  type: "string",
                  ui: {
                    label: "查询条件七",
                    columns: 3,
                    placeholder: "普通关键字"
                  }
                },
                kw8: {
                  type: "string",
                  ui: {
                    label: "查询条件八",
                    columns: 3,
                    widget: 'select',
                    widgetConfig: {
                      "enumSource": [
                        {
                          "value": 1,
                          "label": "option1"
                        },
                        {
                          "value": 2,
                          "label": "option2"
                        }
                      ]
                    }
                  }
                },
              },
              ui: {
                widgetConfig: {
                  layout: 'h'
                }
              }
            },
            autoQueryFields: ['kw1', 'kw5', 'kw8']
          },

          // 工具栏，位于列表之上
          toolbar: {
            // btnSize: "small",
            batchActions: {
              // 批量操作，当selectAll为true时有效
              delete: {
                handler: {
                  type: "ajax",
                  confirmTxt: 'dx: "确定要删除" + {{$selected}}.map(item => item.name).join(",") + "吗？"',
                  options: {
                    apiUrl: "/api/deleteItem",
                    method: 'post',
                    params: [
                      {
                        name: "id",
                        value: "dx: {{$selected[e].id}}"
                      }
                    ]
                  },
                  refresh: 'current' // 操作后是否刷新数据
                }
              },
              others: [
                // 参考 Action Object config
                {
                  name: "审核通过",
                  handler: {
                    type: "ajax",
                    confirmTxt: '确定要审核通过所选记录吗？',
                    options: {
                      apiUrl: "/api/deleteItem",
                      method: 'post',
                      params: [
                        {
                          name: "id",
                          value: "dx: {{$selected[e].id}}"
                        }
                      ]
                    },
                    refresh: 'current' // 操作后是否刷新数据
                  }
                }
              ]
            },
            tools: {
              new: {
                handler: {
                  type: "modal",
                  options: {
                    component: {
                      name: "nca-edit-modal-inside",
                      config: {
                        idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
                        formData: {
                          isRemote: false,
                        },
                        formSchema: {
                          type: "object",
                          properties: {
                            name: {
                              type: "string",
                              rules: {
                                required: true
                              }
                            }
                          }
                        },
                        buttons: {
                          submit: {
                            // 提交
                            apiUrl: "/api/saveItem", // 提交的Url
                          }
                        }
                      },
                    },
                    modalConfig: {
                      title: "新建"
                    }
                  },
                  refresh: 'resetPage'
                }
              },
              others: [
                // 参考 Action Object config
                {
                  name: '导出',
                  handler: {
                    type: 'ajax', // ajax / page / modal / component
                    options: {
                      // type = 'ajax'
                      apiUrl: '',
                      method: 'post', // get/post default:get
                    }
                  },
                }
              ]
            }
          },

          // 显示列表
          list: {
            selectAll: true, // 是否全选
            columnsConfigurable: true,
            datasource: {
              // 数据源
              apiUrl: "/api/getListData", // 请求url
              paramFields: {
                // 传过去的参数
                pageSize: "pageSize", // 每页显示的项数
                pageNum: "pageNum", // 请求的页码        
                sortField: 'sortField', // 排序字段
                sortOrder: 'sortOrder', // 排序方向
                query: "" // 查询条件，当为空时，查询对象的每个Key就是字段。当提供值时，即整个查询对象作为值传过去
              },
              otherParams: {
                // 其它的请求参数，如 type: 1
                type: 1,
                // 这样可设置默认的排序
                sortField: 'haha',
                sortOrder: 'asc'
              },
              resField: {
                // 返回结果字段
                pageingTotal: "page.total", // 分页总数字段
                list: "data" // 列表数据字段
              }
            },
            columns: [
              //
              {
                header: "日期", // 表头
                dataField: "date", // 数据源的字段
                defShow: false,
              },
              {
                width: 100,
                header: "姓名", // 表头
                sortField: "name", // 排序的字段
                dataField: "name" // 数据源的字段
              },
              {
                header: "地址", // 表头
                dataField: "address" // 数据源的字段
              },
              {
                header: '控件-label',
                component: {
                  name: 'nca-label',
                  // value: 'dx: {{$item.name}}',
                  value: $item => $item.name,
                  config: {
                    color: 'dx: {{$item.name}} === "daniel" ? "red" : "orange"'
                  }
                }
              },
              {
                header: '控件-图片',
                component: {
                  name: 'nca-image',
                  value: 'dx: {{$item.photo}}',
                  config: {
                    maxWidth: '100px'
                  }
                }
              }
            ],
            rowExtend: {
              properties: [
                {
                  label: '', // 标签
                  value: '', // 【非必填】。只支持dx表达式（支持$root和$parent）
                  widget: 'object', // 使用的widget，默认是object
                  widgetConfig: {
                    // 针对自身的
                    titleColor: "red",
                    showOwnLabel: false,
                    showTitle: true,
                    // 针对子元素的
                    labelWidth: "",
                    labelColor: "",
                  },
                  properties: [
                    {
                      label: '日期', // 标签
                      value: 'dx: {{$root.date}}' // 只支持dx表达式（支持$root和$parent）
                    },
                    {
                      label: '姓名', // 标签
                      value: 'dx: {{$root.name}}' // 只支持dx表达式（支持$root和$parent）
                    },
                  ],
                },
              ]
            },
            actionColumn: {
              width: 300,
            },
            actions: {
              // 删除 ajax类型的演示
              delete: {
                enable: 'dx: {{$item.name}} === "daniel"',
                handler: {
                  type: "ajax",
                  options: {
                    apiUrl: '/api/deleteItem',
                    method: 'post',
                    params: [{
                      name: 'id',
                      value: 'dx: {{$item.id}}'
                    }],
                  },
                  refresh: 'current'
                }
              },
              // 查看 modal类型的演示
              edit: {
                handler: {
                  type: "modal",
                  options: {
                    event: {
                      name: 'item-edit',
                      data: 'dx: {{$item}}'
                    },
                    component: {
                      name: "nca-edit-modal-inside",
                      config: {
                        idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
                        formData: {
                          isRemote: false,
                        },
                        formSchema: {
                          type: "object",
                          properties: {
                            name: {
                              type: "string",
                              rules: {
                                required: true
                              }
                            }
                          }
                        },
                        buttons: {
                          submit: {
                            // 提交
                            apiUrl: "/api/saveItem", // 提交的Url
                          }
                        }
                      },
                      value: "dx: {{$item}}"
                    },
                    modalConfig: {
                      title: "dx: {{$item.name}} + '查看详情'"
                    }
                  },
                  refresh: 'current'
                }
              },
              // 编辑
              view: {
                handler: {
                  type: "page",
                  options: {
                    route: "http://www.baidu.com"
                  }
                }
              },
              // 删除
              delete: {
                handler: {
                  type: "ajax",
                  confirmTxt: "dx: '确定要删除' + {{$item.name}} + '吗?'",
                  options: {
                    apiUrl: "/api/saveItem", // 提交的Url
                  }
                }
              },
              // 其它
              others: [
                {
                  name: '自定',
                  btnTips: '自定义的按钮，酷吧',
                  btnIcon: 'el-icon-setting',
                  handler: {
                    type: 'page',
                    options: {
                      route: 'http://www.baidu.com'
                    }
                  }
                },
                {
                  handler: {
                    type: 'component',
                    options: {
                      component: {
                        name: 'nca-label',
                        value: "自定义按钮"
                      }
                    }
                  }
                }
              ]
            }
          },

          paging: {
            enable: true,
            // layout: 'total, sizes, prev, next',

            // unlimitedLoading: true, // 当这个为true时，layout无效
            // autoLoad: true,
          }
        }
      }
    });
  </script>
</body>

</html>