<div class="nca-list">

  <!--查询区域-->
  <el-row type="flex" align="top" class='mbSpace' v-if="seachBarVisible">
    <div class="search-condition-area">
      <!-- 普通搜索配置 -->
      <ncform :form-schema="mergeConfig.query.normal" v-model="normalQueryValue" form-name="normalQuery" @submit="search"></ncform>
      <!-- 高级搜索配置 -->
      <ncform v-if="advSearchBarVisible" v-show="showAdvSearch" :form-schema="mergeConfig.query.adv" v-model="advQueryValue" form-name="advQuery"></ncform>
    </div>
    <div class="searchBtnArea">
      <!-- 查询按钮 -->
      <el-button-group>
        <el-button type="primary" icon="el-icon-search" @click="search" title="搜索"></el-button>
        <el-button icon="el-icon-refresh" @click="resetList()" title="重置"></el-button>
      </el-button-group>
      <!--高级查询按钮-->
      <el-button v-if="advSearchBarVisible" class="advSearchBtn" @click="showAdvSearch = !showAdvSearch" icon="el-icon-search">高级查询</el-button>
    </div>
  </el-row>

  <!--工具栏区域-->
  <el-row class="toolbar-area">
    <el-col :span="24">
      <el-row type="flex">

        <!--批量操作区域-->
        <template v-if="batchActionsVisible">
          <!-- 批量操作 按钮 -->
          <action-object class="batch-btn" v-if="mergeConfig.toolbar.batchActions.delete" :config="mergeConfig.toolbar.batchActions.delete" :selected="multipleSelection">
            <el-button v-if="mergeConfig.toolbar.batchActions.delete.enable !== false" :disabled="multipleSelection.length == 0" type="danger"
              icon="el-icon-delete" @click="eventHandlerConfirm(mergeConfig.toolbar.batchActions.delete.handler, null, multipleSelection, '确定删除选中的记录吗？')">
              {{mergeConfig.toolbar.batchActions.delete.name || '删除'}}
            </el-button>
          </action-object>
          <template v-if="mergeConfig.toolbar.batchActions.others">
            <action-object class="batch-btn" v-for="(item, idx) in mergeConfig.toolbar.batchActions.others" :config="item" :key="idx" :selected="multipleSelection">
              <el-button :disabled="multipleSelection.length == 0" v-if="item.enable !== false" @click="eventHandlerConfirm(item.handler, null, multipleSelection)">
                {{item.name}}
              </el-button>
            </action-object>
          </template>
        </template>

        <!-- 下面这个el-col用于flex布局，勿删 -->
        <el-col>
        </el-col>

        <!-- 其它操作区域，如新建等 -->
        <template v-if="toolsVisible">
          <action-object v-if="mergeConfig.toolbar.tools.new" :config="mergeConfig.toolbar.tools.new">
            <el-button class="toolbar-btn" v-if="mergeConfig.toolbar.tools.new.enable !== false" type="primary" icon="el-icon-document" @click="eventHandlerConfirm(mergeConfig.toolbar.tools.new.handler)">
              {{mergeConfig.toolbar.tools.new.name || '新建'}}
            </el-button>
          </action-object>
          <template v-if="mergeConfig.toolbar.tools.others">
            <action-object class="toolbar-btn" v-for="(item, key) in mergeConfig.toolbar.tools.others" :key="key" :config="item">
              <el-button v-if="item.enable !== false" @click="eventHandlerConfirm(item.handler)">
                {{item.name}}
              </el-button>
            </action-object>
          </template>
        </template>

      </el-row>
    </el-col>
  </el-row>

  <!--列表数据区域-->
  <el-row>
    <el-col :span="24">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        
        <!-- 选择 -->
        <el-table-column v-if="mergeConfig.list.selectAll" type="selection">
        </el-table-column>
        
        <!-- 列表数据 -->
        <el-table-column v-for="(item, key) in mergeConfig.list.columns" :key="key" :label="item.header">
          <template slot-scope="scope">
            <template v-if="!item.component">
              <nc-component comp-name="nca-label" :value="scope.row[item.dataField]" :smart-data="{$item:scope.row}">
              </nc-component>
            </template>
            <template v-else>
              <nc-component :comp-name="item.component.name.replace(/\./g, '_')" :config="item.component.config" :value="item.component.value"
                :smart-data="{$item:scope.row}">
              </nc-component>
            </template>
          </template>
        </el-table-column>
        
        <!-- 操作 -->
        <el-table-column align="left" label="操作">
          <template slot-scope="scope">
            <action-object class="item-op-btn" v-if="mergeConfig.list.actions.view" :config="mergeConfig.list.actions.view" :item="scope.row">
              <el-button v-if="mergeConfig.list.actions.view.enable !== false" type="success" size="mini" @click="eventHandlerConfirm(mergeConfig.list.actions.view.handler, scope.row)">{{mergeConfig.list.actions.view.name || '查看'}}</el-button>
            </action-object>
            <action-object class="item-op-btn" v-if="mergeConfig.list.actions.edit" :config="mergeConfig.list.actions.edit" :item="scope.row">
              <el-button v-if="mergeConfig.list.actions.edit.enable !== false" type="primary" size="mini" @click="eventHandlerConfirm(mergeConfig.list.actions.edit.handler, scope.row)">{{mergeConfig.list.actions.edit.name || '编辑'}}</el-button>
            </action-object>
            <action-object class="item-op-btn" v-if="mergeConfig.list.actions.delete" :config="mergeConfig.list.actions.delete" :item="scope.row">
              <el-button v-if="mergeConfig.list.actions.delete.enable !== false" type="danger" size="mini" @click="eventHandlerConfirm(mergeConfig.list.actions.delete.handler, scope.row, null, '确定删除该条数据吗？')">{{mergeConfig.list.actions.delete.name || '删除'}}</el-button>
            </action-object>
            <template v-if="mergeConfig.list.actions.others">
              <action-object class="item-op-btn other-op-btn" v-for="(item, index) in mergeConfig.list.actions.others" :config="item" :item="scope.row" :key="index">
                <el-button v-if="item.enable !== false" size="mini" :type="item.btnType"  @click="eventHandlerConfirm(item.handler, scope.row)">{{item.name}}</el-button>
              </action-object>
            </template>
          </template>
        </el-table-column>

      </el-table>
    </el-col>
  </el-row>

  <!--分页区域-->
  <el-row v-if="pagingVisible">
    <el-col align="right" style="margin-top:30px;">
      <el-pagination background @size-change="handleSizeChange" @current-change="currentChange" layout="sizes, prev, pager, next"
        :page-count="pageCount" :current-page="value.pageNum " :page-sizes="[20, 40, 60, 80, 100]">
      </el-pagination>
    </el-col>
  </el-row>

  <modal :visible.sync="modal.visible" :modal-config="modal.modalConfig" @confirm="onModalClose()">
    <component slot-scope="modalProps" class="modalComponent" :is="modal.name.replace(/\./g, '_')" :config="modal.config" :value="modal.value"
      :modal-id="modalProps.modalId">
    </component>
  </modal>
</div>