<div class="list">
  <el-row type="flex" align="bottom" class='mbSpace' v-if="seachBarVisible">
    <el-col>
      <!-- 普通搜索配置 -->
      <ncform :form-schema="config.query.normal" v-model="normalQueryValue" form-name="normalQuery"></ncform>
      <!-- 高级搜索配置 -->
      <ncform v-if="advSearchBarVisible" v-show="showAdvSearch" :form-schema="config.query.adv" v-model="advQueryValue" form-name="advQuery"></ncform>
    </el-col>
    <div class="searchBtnArea">
      <!-- 搜索按钮区域 -->
      <el-button type="info" class="searchBtn mgb10" icon="el-icon-refresh" @click="resetList()" plain>重置</el-button>
      <el-button type="info" v-if="advSearchBarVisible" v-show="!showAdvSearch" class="searchBtn mgb10" icon="el-icon-plus" @click="showAdvSearch = !showAdvSearch"
        plain>展开</el-button>
      <el-button type="info" v-if="advSearchBarVisible" v-show="showAdvSearch" class="searchBtn mgb10" icon="el-icon-minus" @click="showAdvSearch = !showAdvSearch"
        plain>收起</el-button>
      <el-button type="primary" class="searchBtn" icon="el-icon-search" plain @click="search">搜索</el-button>
    </div>
  </el-row>

  <el-row>
    <el-col :span="24">
      <el-row type="flex">
        <template v-if="batchActionsVisible">
          <!-- 批量操作 按钮 -->
          <action-object v-if="config.toolbar.batchActions.delete" :config="config.toolbar.batchActions.delete" :selected="multipleSelection">
            <el-button v-if="config.toolbar.batchActions.delete.enable" :disabled="this.$data.multipleSelection.length == 0" type="danger"
              icon="el-icon-delete" @click="eventHandler(config.toolbar.batchActions.delete.handler, null, multipleSelection)"
              plain>
              {{config.toolbar.batchActions.delete.name}}
            </el-button>
          </action-object>
          <template v-if="config.toolbar.batchActions.others">
            <action-object v-for="(item, key) in config.toolbar.batchActions.others" :config="item" :key="key" :selected="multipleSelection">
              <el-button :disabled="this.$data.multipleSelection.length == 0" v-if="item.enable" type="info" @click="eventHandler(item.handler, null, multipleSelection)"
                plain>
                {{item.name}}
              </el-button>
            </action-object>
          </template>
        </template>

        <!-- 下面这个el-col用于flex布局，勿删 -->
        <el-col>
        </el-col>
        <!-- 新建等 常规按钮 -->
        <template v-if="toolsVisible">
          <action-object v-if="config.toolbar.tools.new" :config="config.toolbar.tools.new">
            <el-button v-if="config.toolbar.tools.new.enable" type="success" icon="el-icon-document" @click="eventHandler(config.toolbar.tools.new.handler)"
              plain>
              {{config.toolbar.tools.new.name}}
            </el-button>
          </action-object>
          <template v-if="config.toolbar.tools.others">
            <action-object v-for="(item, key) in config.toolbar.tools.others" :key="key" :config="item">
              <el-button v-if="item.enable" type="info" @click="eventHandler(item.handler)" plain>
                {{item.name}}
              </el-button>
            </action-object>
          </template>
        </template>
      </el-row>
    </el-col>
  </el-row>

  <el-row>
    <el-col :span="24">
      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <!-- 全选 -->
        <el-table-column v-if="config.list.selectAll" type="selection">
        </el-table-column>
        <!-- 其他表头 -->
        <el-table-column v-for="(item, key) in config.list.columns" :key="key" :label="item.header">
          <template slot-scope="scope">
            <template v-if="!item.component">
              {{ scope.row[item.dataField] }}
            </template>
            <template v-else>
              <component v-bind:is="item.component.name.replace(/\./g, '_')" :config="item.component.config" :value="item.component.value"></component>
            </template>
          </template>
        </el-table-column>
        <!-- 操作 -->
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <template v-if="config.list.actions.others">
              <action-object v-for="(item, index) in config.list.actions.others" :config="item" :item="scope.row" :key="index">
                <el-button v-if="item.enable" size="mini" @click="eventHandler(item.handler, scope.row)">{{item.name}}</el-button>
              </action-object>
            </template>
            <action-object v-if="config.list.actions.view" :config="config.list.actions.view" :item="scope.row">
              <el-button v-if="config.list.actions.view.enable" type="success" size="mini" @click="eventHandler(config.list.actions.view.handler, scope.row)">{{config.list.actions.view.name || '查看'}}</el-button>
            </action-object>
            <action-object v-if="config.list.actions.edit" :config="config.list.actions.edit" :item="scope.row">
              <el-button v-if="config.list.actions.edit.enable" type="primary" size="mini" @click="eventHandler(config.list.actions.edit.handler, scope.row)">{{config.list.actions.edit.name || '编辑'}}</el-button>
            </action-object>
            <action-object v-if="config.list.actions.delete" :config="config.list.actions.delete" :item="scope.row">
              <el-button v-if="config.list.actions.delete.enable" type="danger" size="mini" @click="eventHandlerConfirm(config.list.actions.delete.handler, scope.row, null, '删除该条数据？')">{{config.list.actions.delete.name || '删除'}}</el-button>
            </action-object>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>

  <el-row v-if="pagingVisible">
    <!-- 页码 -->
    <el-col align="right" style="margin-top:30px;">
      <el-pagination background @size-change="handleSizeChange" @current-change="currentChange" layout="sizes, prev, pager, next"
        :page-count="pageCount" :current-page="value.pageNum " :page-sizes="[20, 40, 60, 80, 100]">
      </el-pagination>
    </el-col>
  </el-row>

  <modal :visible.sync="modal.visible" :modal-config="modal.modalConfig">
    <component slot-scope="modalProps" class="modalComponent" :is="modal.name.replace(/\./g, '_')" :config="modal.config" :value="modal.value"
      :modalId="modalProps.modalId">
    </component>
  </modal>
</div>