.mbSpace {
    margin-bottom: 20px;
  }
  .searchBtnArea {
    width: 90px;
    margin-left: 20px;
  }
  .el-button.searchBtn {
    height: 40px;
    margin: 0;
    margin-left: 0;
  }
  .el-button.mgb10 {
    margin-bottom: 10px;
    margin-left: 0;
  }