.nca-list {
  .mgt30{
    margin-top: 30px;
  }
  .mbSpace {
    margin-bottom: 20px;
  }
  .search-condition-area {
    flex: 1
  }
  .searchBtnArea {
    width: 120px;
    top: 16px;
    position: relative;
  }
  .searchBtn {
    height: 40px;
    margin: 0;
    margin-left: 0;
  }
  .advSearchBtn {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0;
    width: 111px
  }
  .toolbar-area {
  }
  .item-op-btn {
    margin-top: 4px;
  }
  .other-op-btn {
    margin-right: 5px;
  }
  .batch-btn {
    margin-left: 6px;
    &:first-child {
      margin-left: 0;
    }
  }
  .toolbar-btn {
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}