<div class="nca-edit">
  <el-row v-if="mergeConfig.title">
    <el-col>{{value.id != '0' ? '编辑' : '新建'}}{{mergeConfig.title}}</el-col>
  </el-row>
  <el-row>
    <el-col>
      <ncform :form-schema="mergeConfig.formSchema" v-model="formValue" :form-name="editFormName"></ncform>
    </el-col>
  </el-row>
  <el-row class="btn-area" type="flex">
    <el-col>
    </el-col>
    <el-button type="success" @click="submitData()" plain>{{value.id != '0' ? '保存' : '新建'}}</el-button>
    <el-button v-if="mergeConfig.buttons.back.enable" type="info" @click="goBack()" plain>返回</el-button>
  </el-row>
</div>