<div class="nca-edit">
  <el-row v-if="mergeConfig.title">
    <el-col>{{value.id != '0' ? '编辑' : '新建'}}{{mergeConfig.title}}</el-col>
  </el-row>
  <el-row>
    <el-col>
      <ncform :form-schema="mergeConfig.formSchema" v-model="formValue" :form-name="editFormName"></ncform>
    </el-col>
  </el-row>
  <el-row class="btn-area">
    <el-button type="primary" @click="submitData()">{{mergeConfig.buttons.submit.name}}</el-button>
    <el-button v-if="mergeConfig.buttons.back.enable" @click="goBack()">{{mergeConfig.buttons.back.name}}</el-button>
  </el-row>
</div>