<div class="nca-modal">
  <!-- 弹窗 -->
  <el-dialog :visible.sync="visibleData" :title="mdConfig.title" :close-on-click-modal="false" :append-to-body="mdConfig.appendToBody" :width="mdConfig.width">
    <slot v-if="visibleData" :modal-id="modalId"></slot>
    <el-row type="flex" style="margin-top:10px;">
      <el-col></el-col>
      <el-button v-if="mdConfig.buttons.confirm.enable !== false" :disabled="disabled[mdConfig.buttons.confirm.eventName]" :loading="loading[mdConfig.buttons.confirm.eventName]" @click="modalButtonEvent(mdConfig.buttons.confirm)" type="primary">
        {{mdConfig.buttons.confirm.name}}
      </el-button>
      <template v-for="(item, index) in mdConfig.buttons.others">
        <el-button v-if="item.enable !== false" :loading="loading[item.eventName]" @click="modalButtonEvent(item)" type="success">
          {{item.name}}
        </el-button>
      </template>
      <el-button v-if="mdConfig.buttons.cancel.enable !== false" @click="closeModal">
        {{mdConfig.buttons.cancel.name}}
      </el-button>
    </el-row>
  </el-dialog>
</div>