<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Component Example</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>

  <!--演示区域-->
  <div id="demo">
    <el-button @click="config1.visible = true">1: 远程获取数据</el-button>
    <nca-modal :visible.sync="config1.visible" :modal-config="config1.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config1.config" :value="config1.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config2.visible = true">2: 本地提供数据</el-button>
    <nca-modal :visible.sync="config2.visible" :modal-config="config2.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside ref="modal2" slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config2.config" :value="config2.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config3.visible = true">3: 新建</el-button>
    <nca-modal :visible.sync="config3.visible" :modal-config="config3.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config3.config" :value="config3.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config4.visible = true">4: 远程获取数据 - 表单数据只是返回数据的一个字段的值</el-button>
    <nca-modal :visible.sync="config4.visible" :modal-config="config4.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config4.config" :value="config4.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config5.visible = true">5: 本地提供数据 - 表单数据只是返回数据的一个字段的值</el-button>
    <nca-modal :visible.sync="config5.visible" :modal-config="config5.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config5.config" :value="config5.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config6.visible = true">6: 复制</el-button>
    <nca-modal :visible.sync="config6.visible" :modal-config="config6.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config6.config" :value="config6.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config7.visible = true">7: 复制(远程数据)</el-button>
    <nca-modal :visible.sync="config7.visible" :modal-config="config7.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config7.config" :value="config7.value"></nca-edit-modal-inside>
    </nca-modal>

    <p></p>

    <el-button @click="config8.visible = true">8: 不调提交数据</el-button>
    <nca-modal :visible.sync="config8.visible" :modal-config="config8.modalConfig" @confirm="confirm">
      <nca-edit-modal-inside slot-scope="modalProps" :modal-id="modalProps.modalId" :config="config8.config" v-model="config8.value"></nca-edit-modal-inside>
    </nca-modal>

    <button @click="test" style="position: absolute; z-index: 9999; bottom: 0">test triggerByExternal</button>

  </div>

  <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform-common/dist/ncformCommon.min.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform/dist/vueNcform.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="../../../node_modules/@ncform/ncform-theme-elementui/dist/ncformStdComps.min.js"></script>

  <script type="text/javascript" src="../../../dist/modal.js"></script>
  <script type="text/javascript" src="../../../dist/editModalInside.js"></script>

  <script type="text/javascript">
    Vue.use(vueNcform, { extComponents: ncformStdComps });
    Vue.component('nca-modal', modal);
    Vue.component('nca-edit-modal-inside', editModalInside);

    // Bootstrap the app
    new Vue({
      el: '#demo',
      created() {
        // debug calling confirm method
        // setTimeout(() => {
        //   alert('test');
        //   this.$refs.modal2.confirm(() => {});
        // }, 5000)
      },
      data: {
        config1: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
            buttons: {
              confirm: {
                showLoading: true
              },
              // 这里仅仅用于调试Modal的others，该组件并未实现其它按钮功能
              // others: [
              //   {
              //     name: '其它',
              //     eventName: 'other',
              //     showLoading: true,
              //     close: true
              //   }
              // ]
            }
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formData: {
              // 当编辑模式时取表单数据用
              apiUrl: "/api/getInfo", // 取表单数据的Url
              resField: "data",
              params: [
                {
                  name: "id",
                  value: "dx: {{$id}}"
                }
              ]
            },
            formSchema: {
              type: "object",
              properties: {
                a0: {
                  type: "string",
                  rules: {
                    required: true
                  }
                },
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                },
                a1: {
                  type: "string",
                },
                a2: {
                  type: "string",
                },
                a3: {
                  type: "string",
                },
                a4: {
                  type: "string",
                },
                a5: {
                  type: "string",
                },
                a6: {
                  type: "string",
                },
                a7: {
                  type: "string",
                },      
                a8: {
                  type: "string",
                },  
                a9: {
                  type: "string",
                },                            
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "", // 当为空时，即表单的每个一级字段即为参数名
                notifyEvent: 'success_save', // 你可以通过 eventHub.$on('success_save', formData => { ... }) 继续提交成功后的工作
                successTips: 'yeah, 搞定'
              }
            }
          },
          value: {
            id: 1
          }
        },

        config2: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formData: {
              isRemote: false,
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                }
              }
            },
            buttons: {
              submit: {
                // 提交
                // triggerByExternal: true,
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
            id: 1,
            name: 'hello daniel',
            notInFormField: 'i do not in the form',
          }
        },

        config3: {
          visible: false,
          modalConfig: {
            title: '新建用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formData: {
              isRemote: false,
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                },
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
          }
        },

        config4: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formField: 'info',
            formData: {
              // 当编辑模式时取表单数据用
              apiUrl: "/api/getInfov1", // 取表单数据的Url
              resField: "data",
              params: [
                {
                  name: "id",
                  value: "dx: {{$id}}"
                }
              ]
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                }
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
            id: 1
          }
        },

        config5: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formField: 'data',
            formData: {
              isRemote: false,
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                }
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
            data: {
              name: 'hello daniel',
              notInFormField: 'i do not in the form',
            },
            id: 1,
          }
        },

        config6: {
          visible: false,
          modalConfig: {
            title: '复制用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            isCopy: true,
            formData: {
              isRemote: false,
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                },
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
            id: 2,
            name: 'daniel'
          }
        },

        config7: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            isCopy: true,
            formData: {
              // 当编辑模式时取表单数据用
              apiUrl: "/api/getInfo", // 取表单数据的Url
              resField: "data",
              params: [
                {
                  name: "id",
                  value: "dx: {{$id}}"
                }
              ]
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                }
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "/api/saveItem", // 提交的Url
                valueField: "" // 当为空时，即表单的每个一级字段即为参数名
              }
            }
          },
          value: {
            id: 1
          }
        },

        config8: {
          visible: false,
          modalConfig: {
            title: '编辑用户', // 弹窗标题
          },
          config: {
            idField: "id", // 该表单记录的唯一标识，通过该字段可判断编辑模式还是新建模式
            formData: {
              isRemote: false,
            },
            formSchema: {
              type: "object",
              properties: {
                name: {
                  type: "string",
                  rules: {
                    required: true
                  }
                }
              }
            },
            buttons: {
              submit: {
                // 提交
                apiUrl: "", // 不提供则表示不调用接口提交
              }
            }
          },
          value: {
            id: 1,
            name: 'daniel'
          }
        },

      }
      ,
      methods: {
        confirm(formData) {
          console.log(JSON.stringify(formData, null, 2));
        },
        test() {
          // 调试时请先点击modal的确认按钮
          // this.$refs.modal2.confirm(() => {});
          // this.$refs.modal2.getFormData().then(res => {
          //   console.log(JSON.stringify(res));
          // })
        }
      }
    });
  </script>
</body>

</html>